@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Sacramento&display=swap");

.title {
  font-family: "Sacramento", cursive;
  font-size: 84px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  letter-spacing: 3.5px;
}

.home-sentence {
  font-family: "Gilda Display", serif;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 5px solid #ffa818;
  width: 70%;
  margin: 0px auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
  letter-spacing: 1.6;
}

.home-sentence2 {
  font-family: "Gilda Display", serif;
  font-size: 22px;
  padding: 0px 220px 20px 220px;
}

.spike-lee-home {
  padding-right: 20px;
  padding-bottom: 75px;
}

.ava-duv-home {
  padding-left: 20px;
}

.article-title {
  text-align: center;
  font-family: "Gilda Display", serif;
  padding-top: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid #ffa818;
  width: 15%;
  margin: 0px auto;
}

.films {
  padding-top: 30px;
  padding-bottom: 80px;
}

.view-all {
  display: flex;
  justify-content: center;
}

.view-all-btn {
  font-family: "Gilda Display", serif;
  background-color: #ffa818;
  margin-top: 20px;
  margin-bottom: 40px;
}
