@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Sacramento&display=swap");

.title {
  font-family: "Sacramento", cursive;
  font-size: 88px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  letter-spacing: 3.5px;
}

.home-sentence {
  font-family: "Gilda Display", serif;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 5px solid #ffa818;
  width: 70%;
  margin: 0px auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.home-sentence2 {
  font-family: "Gilda Display", serif;
  font-size: 26px;
  padding: 0px 220px 2px 220px;
}

.spike-lee-home {
  padding-right: 20px;
  padding-bottom: 75px;
}

.ava-duv-home {
  padding-left: 20px;
  padding-right: 20px;
}

.peebles-home {
  padding-left: 20px;
  padding-bottom: 75px;
}

.article-title {
  text-align: center;
  font-family: "Gilda Display", serif;
  padding-top: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid #ffa818;
  width: 25%;
  margin: 0px auto;
}

.article-section {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.view-all {
  display: flex;
  justify-content: center;
}

.view-all-btn {
  font-family: "Gilda Display", serif;
  background-color: #ffa818;
  margin-top: 20px;
  margin-bottom: 40px;
}

.article-1,
.article-2 {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1060px) {
  .peebles-home {
    padding-bottom: 0px;
  }
  .ava-duv-home {
    padding-bottom: 20px;
  }
  .article-title {
    font-size: 30px;
    width: 30%;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 60px;
    margin-top: 80px;
    letter-spacing: 1px;
  }
  .home-sentence {
    font-size: 18px;
    font-weight: normal;
  }
  .spike-lee-home {
    margin-left: 13px;
    padding-bottom: 20px;
  }

  .ava-duv-home {
    padding-left: 20px;
    padding-right: 20px;
  }

  .peebles-home {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
  }
  .home-sentence2 {
    font-size: 18px;
    padding: 0px 20px 2px 20px;
  }
  .article-title {
    font-size: 22px;
    width: 55%;
  }
  .article-section {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .article-1 {
    padding-bottom: 40px;
  }
  p {
    font-size: 12px;
  }
  .article-image {
    width: 350px;
    height: 240px;
    margin-right: 20px;
  }
}
